<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/project.html" %}

<!-- Setting up variables to customize "project" details to be specific to m -->
{% set project = "Kush the King Cobra  " %}
{% set scrumboard = "https://github.com/kushsirohi123/kushsirohirepo" %}
{% set repo = "https://github.com/kushsirohi123/kushsirohirepo.git" %}
{% set authors = "https://kushsirohi123.github.io/kushsirohirepo/about/" %}
{% set github = "https://github.com/kushsirohi123/kushsirohirepo" %}
{% set twitter = "https://www.twitter.com" %}
{% set youtube = "https://www.youtube.com/channel/UCGZ6kKSMh1wtgr5Vsl0DUyg" %}
<!-- Setting up a block replacement to customize background to BIRDS -->
{% block background %}
    <script src="{{ url_for('static', filename='js/three.r119.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vanta.net.min.js') }}"></script>
    <script>
        VANTA.NET({
            el: "body",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00,
            scale: 1.00,
            scaleMobile: 1.00
        })
    </script>
{% endblock %}