{% extends "layouts/base.html" %} <!-- To keep the same format and navbar -->
{% set project = "Blackjack" %}
{% block body %}
    <body style="background-color:green;"> <!-- green background and title -->
      <div class="px-5 py-5 mx-auto">
          <h1 style="color:white;"><strong>Blackjack</strong></h1>
      </div>
  </body>

    <!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <!-- formatting --> 
    <style>
        .body { 
            font-family:Arial, Helvetica, sans-serif;
            text-align: center;
        }
        .button {
            width: 100px;
            height: 50px;
            font-family: Arial,Helvetica,sans-serif;
            font-size: 20px;
        }
        #dealer-cards img {
            height: 175px;
            width: 125px;
            margin: 1px;
        }
        #your-cards img {
            height: 175px;
            width: 125px;
            margin: 1px;
        }
      </style>
      <!-- frontend stuff -->
    <body class="body">
        <h2>
            Dealer: <span id="dealer-sum"><span>
        </h2>
        <!-- dealer's cards -->
        <div id="dealer-cards">
            <img id="hidden" src="{{url_for('static',filename='assets/cards/BACK.png')}}">
        </div>

        <br>

        <h2>
            You: <span id="your-sum"></span>
        </h2>
        <!-- player's cards -->
        <div id="your-cards">

        </div>

        <br>
        <!-- hit and stand buttons -->
        <button class="button" id="hit" width="100" height="50">Hit</button>
        <button class="button" id="stand" width="100" height="50">Stand</button>
        <!-- who wins -->
        <p id="results"></p>
    </body>
</html> 

<script>
    // global variables: sums of cards
    var dealerSum = 0;
    var yourSum = 0;
    //if they have an ace, used later to see if it would be counted as 1 or 11
    var dealerAce = 0;
    var yourAce = 0; 
    // dealer's hidden card
    var hidden;
    // deck for the round
    var deck;
    // if the player sum is less than 21
    var canHit = true;

    // load in functions, game set up
    window.onload = function() {
        buildDeck();
        shuffleDeck();
        startGame();
    }

    // the deck, no shuffled
    function buildDeck() {
        let num = ["A", "2", "3", "4", "5", "6", "7", "8", "9", "10", "J", "Q", "K"];
        let suit = ["C", "D", "H", "S"];
        deck = [];

        // combining the number and suit
        for (let s=0; s < suit.length; s++) {
            for (let n=0; n < num.length; n++) {
                deck.push(num[n]+"-"+suit[s]); // "-" because that is how the image names are formatted
            }
        }
        console.log(deck);
    }

    // shuffling the deck, making a randomized deck
    function shuffleDeck() {
        for (var c = deck.length - 1; c > 0; c--) {
            var r = Math.floor(Math.random() * (c + 1));
            var tempdeck = deck[c];
            deck[c] = deck[r];
            deck[r] = tempdeck;
        }
        console.log(deck);
    }

    
    function startGame() {
        hidden = deck.pop(); //takes the last of the array and removes it to not reuse cards
        dealerSum += cardValue(hidden);
        dealerAce += aceCheck(hidden);

        while (dealerSum < 17) { //dealer must keep hitting if sum is less than 17
            let cardImg = document.createElement("img"); // this was supposed to make new cards appear
            let card = deck.pop();
            console.log(card);            
            bob = ("{url_for('static', filename='assets/cards/"+card+".png')}");
            da = "{"+bob+"}";
            console.log(da);
            cardImg.src = ""+da+""; // did not work though, it kept on switching the symbols to ASCII symbols
            // also in the terminal on vscode said that is was GET and I am confused

            dealerSum += cardValue(card);
            dealerAce += aceCheck(card);
            document.getElementById("dealer-cards").append(cardImg); //supposed to add the card onto the screen
        }
    }

    function cardValue(card) { // gets the value of the card
        let cardData = card.split("-"); // converts to an array Ex: ["5", "D"], rid of "-"
        let value = cardData[0]; // takes only the first item

        if(isNaN(value)) { //if it is not a number, so it is either J, Q, K, or A
            if (value=="A"){ // if it is an ace
                return 11; //set the value as 11 for now
            }
            return 10; //else, the value is 10 because it is J, Q, K
        }
        return parseInt(value); // it is a number, so just return the number
    }
    
    function aceCheck(card) { //check if they have an Ace
        if(card[0]) {
            return 1; // for later use to determine if the ace is 1 or 11
        }
        return 0;
    }

    document.getElementById("hit").addEventListener("click", hit); //button tests
    document.getElementById("stand").addEventListener("click", stand); //button test
    function hit() {
        alert("hit") //see if the button works
    }
    function stand() {
        alert("stand") //see if the button works
    }
</script>
{% endblock %}
{% block background %}D
{% endblock %}
