<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Team" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <body style="background-color:black;">
      <div class="px-5 py-5 mx-auto">
          <h1 style="color:red;"><strong>Lawnmowers</strong></h1>
          <p style="color:white;">Members: Kaiden, Theo, Kush, Mani</p>
          <p style="color:white;">Thank you for visiting!</p>
      </div>
  </body>

    <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  .card {
    box-shadow: 0 4px 8px 0 rgba(225,225,225,1);
    transition: 0.3s;
    width: 100%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(225,225,225,1);
  }
  
  .container {
    padding: 10px 16px;
  }
</style>
</head>
<body>
<div class="row">
  <div class="col-3">
    <div class="card">
      <img src="{{ url_for('static', filename='assets/burnt.JPG') }}" alt="Avatar" style="width:100%; height: 400px; object-fit: cover;">
      <div class="container">
        <h4><b>Theo Huntalas</b></h4> 
        <p>Scrum Master</p> 
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card">
      <img src="{{ url_for('static', filename='assets/kush.png') }}" alt="Avatar" style="width:100%; height: 400px; object-fit: cover;">
      <div class="container">
        <h4><b>Kush Sirohi</b></h4> 
        <p>Dev Ops</p> 
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card">
      <img src="{{ url_for('static', filename='assets/mani.png') }}" alt="Avatar" style="width:100%; height: 400px; object-fit: cover;">
      <div class="container">
        <h4><b>Mani Taleban</b></h4> 
        <p>Frontend Developer</p> 
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card">
      <img src="{{ url_for('static', filename='assets/kaidenminion.jpg') }}" alt="Avatar" style="width:100%; height: 400px; object-fit: cover;">
      <div class="container">
        <h4><b>Kaiden Do</b></h4> 
        <p>Backend Developer</p> 
      </div>
    </div>
  </div>
</div>
</html> 

{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
