<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Team" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Lawnmowers</strong></h1>
        <p class="text-secondary">Members: Kaiden, Theo, Kush, Mani</p>
        <p class="text-secondary">Thank you for visiting!</p>
    </div>

    <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
</style>
</head>
<body>

<div class="card">
  <img src="img_avatar.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Theo Huntalas</b></h4> 
    <p>Scrum Master</p> 
  </div>
</div>

<div class="card">
  <img src="img_avatar.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Kush Sironi</b></h4> 
    <p>Team Member</p> 
  </div>
</div>

<div class="card">
  <img src="img_avatar.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Mani Taleban</b></h4> 
    <p>Team Member</p> 
  </div>
</div>

<div class="card">
  <img src="img_avatar.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Kaiden Do</b></h4> 
    <p>Team Member</p> 
  </div>
</div>

</body>
</html> 

{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
